# Dependencies
node_modules/
.pnp
.pnp.js

# Build
# dist/ - commented out because we need it for Vercel

# Environment
.env
.env.local

# Logs
logs
*.log

# Editor
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Test
coverage/